/* 
        //TAGS
        nombreTag{
            Propiedad1:valorPropiedad1;
            Propiedad2:valorPropiedad2;
        }
        */
        
        html{
            background-color: black;
        }
        body{
            background-color: #ffe4c4;
        }
        h1{
            background-color: cornflowerblue;
        }
        p{
            background-color: #ff7f50;
        }
        cualquiera{
            background-color: aquamarine;
        }
        /*
        CLASES: 
        .nombreClase{
        
        }
        */
        
        .nombreClaseRojo{
            background-color: red;
        }
        .nombreClaseAzul{
            background-color: blue;
        }
        .nombreClaseAmarillo{
            background-color: yellow;
        }
        
        /*
        Por ID
        */
        
        #parrafoverde{
            background-color: darkgrey;
        }