<div style='background-color:white; color:black'>
 
  <h1>Crear Usuario</h1>
  
   <form action="Usuario/crearUsuarioForm" method="post">
      
       <label for="">Nombres:</label>
       <br>
       <input type="text" name="nombres">
       <br>
       
       <br>
       <label for="">Apellidos:</label>
       <br>
       <input type="text" name="apellidos">
       <br>
       
       <br>
       <label for="">Correo:</label>
       <br>
       <input type="text" name="correo">
       <br>
       
       <br>
       <button type="submit">Crear Usuario</button>
       
   </form> 
    
</div>