<div style='background-color:white; color:black'>
    
    <% var numero1 = 1592648; %>
    
    <% var arregloMascota = [
        {
            nombre:'Adrian'
        },
        {
            nombre:'Vicente'
        },
        {
            nombre:'Pepito'
        }
    ]; %>
    
    <h1>Home</h1>
    <h2><%= mauricio.nombre%> - <%= mauricio.cedula%> - <%= numero1%></h2>
    <h3><%= arregloMascota[0].nombre%></h3>
    
</div>